dist/
._*
.DS_Store
.DS_Store?
.idea
.Spotlight-V100
.Trashes
*.key
*.csr
*.crt
Icon?
*.wav
.log
**/*.log
coverage/
.ultra.cache.json
.ts-node-cache
*.tsbuildinfo
tsconfig.solution.json 
*.tgz
node_modules
.vscode
npm-debug.log*
test-results
test-output
lib
zalenium
.idea
mocha.json
npm-debug.log.*
xunit.xml
yarn-error.log
.tumal
.nyc_output
**/byotstore.json
helm-values*.json
helm-temp*/
